<% layout('layout') %>

<form method="POST">
<input name="username" class="form-control mb-2" required placeholder="username">
<input name="password" type="password" class="form-control mb-2" required placeholder="password">
<button class="btn btn-success">Login</button>
</form>

<br>

<p>New user?</p>
<a href="/register" class="btn btn-primary">Register Here</a>