<% layout('layout') %>

<form method="POST" class="needs-validation" novalidate>
<input name="username" class="form-control mb-2" required placeholder="username">
<input name="password" type="password" class="form-control mb-2" required placeholder="password">
<input name="favoriteGenre" class="form-control mb-2" required placeholder="favorite genre">
<button class="btn btn-primary">Register</button>
</form>

<br>

<p>Already have account?</p>
<a href="/login" class="btn btn-success">Login</a>